# 20th AUG 2019
## Lists

In [2]:
names = ["prasuna","valluri"]
print(type(names))
len(names)

<class 'list'>

2

In [3]:
names[0]

'prasuna'

In [4]:
names[1]

'valluri'

In [5]:
names[-1]

'valluri'

### list methods
- list is mutable i.e changeble

# 1.append(new_list)

- to add new items in avaliable list

In [6]:
names.append('deepu')

In [7]:
names

['prasuna', 'valluri', 'deepu']

In [8]:
new_persons = ['mahesh','khalid']

In [9]:
names.append(new_persons)

In [10]:
names.extend(new_persons)

In [11]:
names

['prasuna', 'valluri', 'deepu', ['mahesh', 'khalid'], 'mahesh', 'khalid']

In [12]:
prasuna = [10,20,30]
deepu = prasuna.copy()

In [13]:
prasuna,deepu

([10, 20, 30], [10, 20, 30])

In [14]:
prasuna.append(56)

In [15]:
prasuna,deepu

([10, 20, 30, 56], [10, 20, 30])

In [16]:
names[0]="mahesh"

In [17]:
names

['mahesh', 'valluri', 'deepu', ['mahesh', 'khalid'], 'mahesh', 'khalid']

In [18]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### clear
- to clear all the items in list

In [19]:
names.clear()

In [20]:
names

[]

### count(item)
- it can search for given items and gives the no.of occurance items

In [21]:
numbers=[10,1,3,4,3,5,3,[9,3]]
numbers.count(3)

3

### index(item)
- return index of 1st occurance of the item in list

In [22]:
numbers.index(4)

3

### index(item,starting_of_index_searching)

In [23]:
numbers = [1,2,3,1,2,3,4,1,2,3]
numbers.index(3,7)

9

### insert(index,item)
-

In [24]:
number = [10,20,30,40,50]
number.insert(3,4)
number.insert(100,4)

In [25]:
number

[10, 20, 30, 4, 40, 50, 4]

## pop(index)
- delete the corresponing index number

In [26]:
number.pop(3)

4

In [27]:
number

[10, 20, 30, 40, 50, 4]

# remove(item)
- if given number is their,it removes that number othrwise number not in list

In [28]:
number.remove(10)

In [29]:
number

[20, 30, 40, 50, 4]

# sort()
- it gives number in acsending order

In [30]:
number.sort() `
number

SyntaxError: invalid syntax (<ipython-input-30-2794a5985b11>, line 1)

- if we want the numbers in decending order

In [ ]:
number.sort(reverse=True)
number

In [ ]:
number.sort()
number.reverse()
number

In [ ]:
for hand in number:
    print(hand)

In [ ]:
total = 0
for each in number:
    total=total+each
print(total)

In [ ]:
students = [["sai",50,20,90],["ram",40,50,60]]
name = " "
total=0
for i in students:
    marks = i[1:]
    student_total = sum(marks)
    if(student_total>total):
        name = i[0]
        total = student_total
print(name)

In [ ]:
mylist = [[10,20],[30,15],[40,60]]
for each in mylist:
    each.reverse()
each.sort()
for each in mylist:
    each.reverse()
print(mylist)

# tuples
- tuple is a collection of items and immutable(change)

### count()

In [ ]:
mytuple=(10,20,"prasu",True)
mytuple.count(10)

### index()

In [ ]:
mytuple.index(10)

In [ ]:
sum((1,2,3))

In [ ]:
min(number)

In [ ]:
max(number)

### list slicing

In [ ]:
numbers=[3,4,5,6,7,8,9]

In [ ]:
numbers[0:3]

In [ ]:
numbers[0:5:2]

In [ ]:
numbers[1:]

In [ ]:
numbers[:]

In [ ]:
numbers[5:1:-1]

In [ ]:
numbers[::-1]

In [ ]:
name="pappu"
name[::-1]

# string
- string is mutable(unchange)

In [ ]:
name = "prasuna is a girl"

### 1)startswith(sub_string)
-

In [ ]:
name.startswith("p")

### 2)endswith(sub_string)

In [ ]:
name.endswith("p")

### it gives upper(capital) letters

In [ ]:
name.upper()

### it gives lower letters

In [ ]:
name.lower()

-  check all letters in lower case

In [ ]:
name.islower()

- check all letters in upper case

In [ ]:
name.isupper()

- check all  digits in given string it gives true otherwise false

In [ ]:
name = 'prasuna1'
name.isdigit()

- it changes from upper to lower case or lower to upper case

In [ ]:
'PytHOn'.swapcase()

- given string havina all alphabets then o/p is true otherwise false

In [ ]:
name.isalpha()

- it gives the spliting of letters

In [ ]:
name = 'i am in nuzividu'
name.split()

In [ ]:
name.split('i')

- it gives join the words

In [ ]:
word = ['', ' am ', 'n nuz', 'v', 'du']
'i'.join(word)

In [ ]:
name = '       prasuna       '
name.strip()
len(name)

In [ ]:
name

In [ ]:
a=input("enter input")
end = 'done'
if a!=end:
    for i in end:
        a = input("enter something:")

enter a length79

In [47]:
n = input("enter anumber")

enter anumber;l

In [31]:
n = input("enter a number")
done = 'done'
if n=done:
    for i in range(0,n):
        a = input("enter something")
        b=int(a)
        print(b)

SyntaxError: invalid syntax (<ipython-input-31-1b08fdca20a2>, line 3)